:root {
    --dark-text: #2E2C34;
    --gray-text: #84818A;
    --theme-color: #7F56D8;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F9FB;
}

.bold {
    font-weight: 600;
}

.app {
    display: flex;
}

.app-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

/* Sidebar */

.sidebar {
    height: 100vh;
    width: 20vw;
    background-color: #FFF;
    border-right: 2px solid #e7e7e7;
    position: fixed;
    z-index: 1;
}

.sidebar__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--theme-color);
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.sidebar__options {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.sidebar__option {
    display: flex;
    width: 100%;
    height: 45px;
    gap: 10px;
    padding: 12px 30px;
    align-items: center;
    text-decoration: none;
}

.sidebar__option:hover {
    background-color: rgba(127, 86, 216, 0.10)
}

.sidebar__option:hover .sidebar__option-title {
    color: var(--theme-color);
}

.sidebar__option__logo-wrapper {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__option__logo {
    width: 100%;
    height: 100%;
}

.sidebar__option-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-text);
    margin-top: 2px;
}

/* Topbar */

.topbar {
    width: 80vw;
    height: 85px;
    padding: 20px 32px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar__text {
    color: var(--dark-text);
    font-size: 20px;
    font-weight: 500;
}

.topbar__user {
    display: inline-flex;
    align-items: center;
    height: 56px;
    gap: 12px;
    background-color: #FAFAFA;
    border-radius: 9999px;
    padding: 12px 18px 12px 5px;
    position: relative;
}

.topbar__frame {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.topbar__frame__profile {
    height: 48px;
    width: 48px;
    border-radius: 999px;
}

.topbar__frame__text {
    font-size: 1rem;
    font-weight: 600;
    color: #1A202C;
}

.topbar-icon {
    height: 12px;
    cursor: pointer;
}

.topbar__dropdown {
    position: absolute;
    top: 60px;
    right: 4px;   
    width: 100px;
    background-color: var(--theme-color);
    z-index: 2222;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
}

.topbar__dropdown__item {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* Dashboard */

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 32px;
    width: 80vw;
}

.dashboard__title {
    font-size: 24px;
}

.ticketsList {
    background-color: #FFF;
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
}

.ticketsList__header {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    padding: 13px 22px;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    gap: 12px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.search-input-icon {
    width: 18px;
    height: 18px;
    font-weight: 400;
}

.search-input {
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
}

.newTicket {
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    background: var(--theme-color);
    gap: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.newTicket__text {
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 0.5px;
}

.dashboard-options {
    display: flex;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 24px;
}

.dashboard-option {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--gray-text);
    font-size: 14px;
}

.dashboard-pagnition {
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items: center;
    margin-top: 24px;
}

.dashboard-pagnition__button {
    background-color: var(--theme-color);
    border-radius: 4px;
    height: 36px;
    padding: 10px 20px;
    align-items: center;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.dashboard-pagnition__page {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-text);
}

/* Ticket Card */

.ticket {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    background-color: #FEFEFE;
    padding: 22px 20px;
    margin-top: 24px;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
}

.ticket-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ticket-condition-new {
    width: 22px;
    height: 22px;
    border-radius: 999px;
    background-color: #3B8AFF;
}

.ticket-condition-ongoing {
    width: 22px;
    height: 22px;
    border-radius: 999px;
    background-color: #FAC885;
}

.ticket-condition-resolved {
    width: 22px;
    height: 22px;
    border-radius: 999px;
    background-color: #54C104;
}

.ticket-info-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-text);
}

.ticket-date {
    color: var(--gray-text);
    font-size: 12px;
    font-weight: 500;
    margin-top: -6px;
}

.ticket-main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E7E7E7;
}

.ticket-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text);
}

.ticket-description {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-text);
}

.ticket-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
}

.ticket-user {
    display: flex;
    align-items: center;
    gap: 7px;
}

.ticket-user-profile {
    width: 28px;
    height: 28px;
    border: 1px solid #E7E7E7;
    border-radius: 999px;
}

.ticket-user-name {
    color: var(--gray-text);
    font-size: 14px;
}

.ticket-open {
    color: var(--theme-color);
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}

/* New Ticket */

.newTicket-screen,
.ticketInfo-screen {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 32px;
    width: 80vw;
}

.newTicket__title,
.ticketInfo__title {
    font-size: 24px;
}

.newTicket-card,
.ticketInfo-card {
    background-color: #FFF;
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
}

.newTicket-heading {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.newTicket-heading__title {
    font-size: 18px;
    font-weight: 600;
    color: #2E2A40;
}

.newTicket-heading__subtitle {
    color: var(--gray-text);
    font-size: 16px;
    font-weight: 500;
}

.newTicket-inputs,
.ticketInfo-inputs {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.newTicket-input,
.ticketInfo-info {
    flex: 1 1 calc(33.333% - 28px);
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.newTicket-input:nth-child(3n),
.ticketInfo-input:nth-child(3n) {
    margin-right: 0;
}

.newTicket-input-title,
.ticketInfo-info__title {
    font-size: 14px;
    color: #2E2A40;
    font-weight: 500;
}

.newTicket-input-field,
.newTicket-select,
.ticketInfo__input-container {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    height: 34px;
}

.newTicket-description {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 8px;
}

.newTicket-description-title {
    font-size: 14px;
    color: #2E2A40;
    font-weight: 500;
}

.newTicket-description-field {
    padding: 8px 10px;
    width: 100%;
    height: 120px;
    border: 1px solid #E7E7E7;
    resize: none;
    font-size: "Montserrat", sans-serif;
}

.newTicket-description-field::placeholder {
    font-size: 14px;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
}

.newTicket-submit,
.ticketInfo-submit {
    margin-top: 24px;
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 10px 24px;
    width: fit-content;
    color: #FFF;
    border: none;
    margin-left: auto;
    cursor: pointer
}

/* Login modal */
.loginModal-screen {
    position: fixed;
    background-color: rgba(10, 13, 18, 0.70);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loginModal {
    position: relative;
    display: flex;
    padding: 24px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 20px 24px -4px rgba(10, 13, 18, 0.10), 0px 8px 8px -4px rgba(10, 13, 18, 0.04);
}

.loginModal__icon-wrapper {
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 1px solid #EAECF0;
}

.loginModal__icon {
    width: 100%;
    height: 100%;
}

.loginModal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 16px;
    gap: 4px;
}

.loginModal__title {
    color: var(--Gray-900, #181D27);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    align-self: stretch;
}

.loginModal__subtitle {
    color: var(--Gray-600, #535862);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.loginModal__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
}

.loginModal__input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    width: 100%;
}

.loginModal__input__title {
    color: #414651;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.loginModal__input__field {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    width: 100%;
}

.loginModal__signUp {
    margin-top: 8px;
    color: var(--dark-text);
    text-align: start;
    width: 100%;

}

.loginModal__signUp-button {
    color: var(--theme-color);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.loginModal__button-confirm {
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    color: #FFF;
    margin-top: 32px;
    cursor: pointer;
}

.loginModal__button-cancel {
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    margin-top: 8px;
    cursor: pointer
}

.loginModal__x-button-wrapper {
    position: absolute;
    top: 26px;
    right: 26px;
    cursor: pointer;
}

/* Signup page */
.signupModal-screen {
    position: fixed;
    background-color: rgba(10, 13, 18, 0.70);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.signupModal {
    position: relative;
    display: flex;
    padding: 24px;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 20px 24px -4px rgba(10, 13, 18, 0.10), 0px 8px 8px -4px rgba(10, 13, 18, 0.04);
}

.signupModal__icon-wrapper {
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.signupModal__icon {
    width: 100%;
    height: 100%;
}

.signupModal-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-top: 16px;
}

.signupModal__title {
    color: #181D27;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.signupModal__subtitle {
    color: #535862;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.signupModal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 20px;
    width: 100%;
}

.signupModal__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 100%;
}

.signupModal__input__title {
    color: #414651;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.signupModal__input__title-star {
    color: red;
}

.signupModal__input__field {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.signupModal__input__password-req {
    color: #535862;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.signupModal__login {
    margin-top: 12px;
    color: var(--dark-text);
    text-align: start;
    width: 100%;
}

.signupModal__login-button {
    color: var(--theme-color);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.signupModal__button-confirm {
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    color: #FFF;
    margin-top: 32px;
    cursor: pointer
}

.signupModal__button-cancel {
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    margin-top: 8px;
    cursor: pointer
}

.signupModal__x-button-wrapper {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

/* Ticket Info */
.ticketInfo-heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ticketInfo-status {
    margin-left: auto;
}

.ticketInfo__status {
    color: var(--gray-text);
    font-size: 14px;
    font-weight: 600;
    margin-left: auto;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
}

.ticketInfo-id {
    color: var(--dark-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.ticketInfo-inputs {
    gap: 20px;
}

.ticketInfo-info__input {
    color: var(--Secondary-400, #757575);
    font-size: 14px;
    font-weight: 500;

}

.ticketInfo__description-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.ticketInfo__description-title {
    color: var(--dark-text);
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
}

.ticketInfo__description {
    color: var(--gray, #84818A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ticketInfo-replyCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 28px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    background: #FCFCFC;
    padding: 20px;
}

.ticketInfo-replyCard__title {
    color: #2E2A40;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.ticketInfo-replyCard__infos {
    display: flex;
    align-items: center;
    gap: 50px;
}

.ticketInfo-replyCard__info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.ticketInfo-replyCard__info__title {
    color: var(--dark-text);
    font-size: 14px;
    font-weight: 500;
}

.ticketInfo-replyCard__info__input {
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    height: 34px;
    border-radius: 4px;
    color: var(--Secondary-400, #757575);
}

.ticketInfo-replyCard__message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ticketInfo-replyCard__message__title {
    color: var(--dark-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ticketInfo-replyCard__message__input {
    padding: 16px 20px;
    border-radius: 4px;
    border: 1px solid#E7E7E7;
    background: #FFF;
    resize: none;
    height: 100px;
}